﻿
@{
    Layout = null;
    ViewBag.Title = "Questionnaire Page";
}
@helper MyInlineHelper(string[] words)
{
    <ol>
        @foreach (string word in words)
        {
            @word
            <li>@Html.TextBox(word)</li>
        }
    </ol>
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Questionnaire.css")
</head>
<body>
    @using (Html.BeginForm("UserPassedData", "Questionnaire", FormMethod.Post))
    {
        <div class="form-container">
            @Html.TextBox("Text", ViewBag.Text as string, new { @class = "full-name", @placeholder = "Enter your full name" })
            @Html.TextBox("Adress", ViewBag.Adress as string, new { @class = "adress", @placeholder = "Enter your adress" })
            <p>Choose your features:</p>
            <div class="checkboxes">
                @Html.CheckBox("Check-box-scales", (bool)ViewBag.Scales)
                <label for="scales">Scales</label>
                @Html.CheckBox("Check-box-horns", (bool)ViewBag.Horns)
                <label for="horns">Horns</label>
            </div>

            <div class="switches">
                <label class="switch" id="switch1">
                    @Html.CheckBoxSimple("Check-box-city", new { @class = "switch-input" })

                    <span class="slider"></span>
                </label>
                <label for="switch1">City</label>
                <label class="switch" id="switch2">
                    @Html.CheckBoxSimple("Check-box-work", new { @class = "switch-input" })
                    <span class="slider round"></span>
                </label>
                <label for="switch1">Work</label>
            </div>
            <div class="inline-helper-container">
                @MyInlineHelper(new string[] {
                  "Email", "Region", "Organisation"})
            </div>
            <input type="submit" name="Button" value="SUBMIT" />
        </div>
    }
</body>
</html>
