﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserPassedData</title>
</head>
<body>
    <div>
        <div>@ViewBag.TextReturn</div>
        <div>@ViewBag.AdressReturn</div>
        <div>@ViewBag.ScalesReturn</div>
        <div>@ViewBag.HornsReturn</div>
        <div>@ViewBag.CityReturn</div>
        <div>@ViewBag.WorkReturn</div>
        <div>@ViewBag.RegionReturn</div>
        <div>@ViewBag.OrganisationReturn</div>
        <div>@ViewBag.EmailReturn</div>
    </div>
</body>
</html>
