﻿
@{
    Layout = "";
    ViewBag.Title = "Guest Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>ViewBag.Title</title>
    @Styles.Render("~/Content/guest.css")
</head>
<body>
    <h2>Reviews</h2>
    <div class="review-container">
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">22.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">23.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">24.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">25.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">26.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">26.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">26.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>
        <div class="review">
            <div class="author-name">Author:Lorem, ipsum.</div>
            <div class="date">26.08.20</div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolores nobis, ipsa est voluptate accusantium assumenda accusamus necessitatibus eligendi itaque enim voluptates quae reiciendis maiores impedit quia cumque quas ducimus.</div>
        </div>

    </div>
    <div class="enter-form">
        Enter new review
        <input class="author-name-input" placeholder="Enter author name" type="text" />
        <input class="text-input" placeholder="Enter review text" type="text"/>
        <button type="submit" >SUBMIT</button>
    </div>


</body>
</html>

