﻿
h2{
    font-size:30px;
    text-align:center;
}
.review {
    font-size:25px;
    font-weight:600;
}
.author-name {
    font-size:35px;
}
.review-container {
    overflow-y: scroll;
    height:850px;
}
.enter-form{
    font-size:30px;
    font-weight:600;
    display:flex;
    flex-direction:column;
    margin-top:15px;
    align-items:center;
}

.author-name-input {
    margin-bottom: 15px;
    height: 75px;
    width: 750px;
}
.text-input {
    height: 300px;
    width: 750px;
    margin-bottom: 15px;
}